*{box-sizing: border-box;}

.dot {
    height: 4vw;
    width: 4vw;
    background-color: rgb(163, 36, 36);
    border-radius: 50%;
    display: inline-flex;
  }

  header {
      display: flex;
      justify-content: center;
      font-family: Helvetica, sans-serif;
      font-size: 3vw;
      color: rgb(163, 36, 36);
  }

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3px;
    font-size: 2.5vw;
    font-family: monospace;
    word-spacing: 2.5vw;
    list-style: none;
    max-width: 60% ;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
}


#portfolio-section {
    margin: 6px;
    width: 90vw;
}
img {
    max-width: 90%;
    max-height: 90%;
}

#timer {
    max-width: 70%;
    max-height: 70%;
}

table {
    text-align: center;
    border-spacing: 8px;
}